
<div class="navbar">
    <div id="brand_logo" name="brand_logo">
        <img [src]="brand_logo_source" alt="Image unable to load">
    </div>
    <div id="menu">
        <a href="sign_in"><span>Sign in</span></a>  
        <select name="nav_menu" id="nav_menu">
            <!-- <option value="">Select an option</option> -->
            <option value="profile">Profile</option>
            <option value="inventory">Inventory</option>
            <option value="logout" disabled>Logout</option>
        </select>
    </div>
</div>
